<div class="right-inner-addon input-group upload-tag">
    {{ form_widget(item.name, {'attr': {'class': 'form-control'}}) }}
    <div class="input-group-addon glyphicon glyphicon-remove remove-tag"></div>
</div>
